<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .btn_homepage {
            padding: 10px 20px
        }

        .homepage {
            display: flex;
            justify-content: center
        }

        .homepage_container {
            background-color: blueviolet;
            padding: 100px;
            text-align: center
        }


    </style>
    <title>Document</title>
</head>
<body class="homepage">
<div class="homepage_container">
    <h1>WELCOME</h1>
    <form action='/'>
        <input type="submit" value="Home" class="btn_homepage">
    </form>
    <br>
    <form action='/login'>
        <input type="submit" value="Login" class="btn_homepage">
    </form>
    <br>
    <form action='/users'>
        <input type="submit" value="Users" class="btn_homepage">
    </form>
    <br>
    <form action='/signIn'>
        <input type="submit" value="Sign in" class="btn_homepage">
    </form>


</div>
</body>
</html>